.content {
  display: flex;
  justify-content: center;
  align-items: center;

  .articles-container{
    max-width: 800px;
    width: 100%;
    margin: 5rem 0 10rem 0;
    .articles{
      box-shadow: var(--box-shadow);
      background:white;
      padding: 0 5rem;
      border-radius: 0.3rem;
      display: flex;
      flex-direction: column;
      align-items: center;

    img{
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      margin-top: -3rem;
    }
      h2 {
        margin-top: 2rem;
        margin-bottom: 0;
      }
      .articles-author {
        color: var(--hint);
        margin-bottom:3rem ;
      }
      .articles-content{
        max-width: 550px;
      }
      .articles-action{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 2rem 0;
        border-top: 1px solid var(--divider);
        margin-top: 2rem ;
        .btn {
          margin-left:1rem ;
        }
      }
    }
  }
}